html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body{
    font-family: 'Mulish', sans-serif;
}

main{
    padding: 0px 4%;
    padding-top: 110px;
}

footer{
    position: relative;
    padding: 0px 4.5%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.social a{
  text-decoration: none;
}

p{
  font-size: 16px;
}

.blue{
    color: #90caf9;
}

.grey{
    color: #666666;
}

#brand_container{
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    text-decoration: none;
    width: -moz-fit-content;
    width: fit-content;
}

#brand{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

#logo{
    width: 30px;
    height: 50px;
    margin-right: 5px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    transition: 1s;
    line-height: 50px;
    padding-bottom: 10px;
}

h3{
    font-size: 20px;
}

.placeholder{
    height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 25px;

    background: #123455; /* fallback */
    background-image: linear-gradient(0.30turn, #001110, #123455);

    background-position: right;
    background-repeat: no-repeat;

}


.placeholder_title{
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 15px 15px 0px 0px;

    background: #123455; /* fallback */
    background-image: linear-gradient(0.30turn, #001110, #123455);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    border: 20px solid red;
    background-position: right;
    background-repeat: no-repeat;

}

.main_content{
    border: 0px solid grey;
    border-top: none;
    padding: 45px 50px 45px 50px;
    padding-top: 45px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius:  0px 0px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.section_group{
    width: 100%;
    display: flex;
    align-items: center;
}

.section{
    height: 600px;
    display: flex;
    flex-shrink: 0;
    width: calc(50% - 10px);
    margin-bottom: 15px;
    align-items: center;
    border-radius: 15px;

    background: #123455; /* fallback */
    background-image: linear-gradient(0.30turn, #001110, #123455);
}


.placeholder_text{
    margin-left: 50px;
    margin-right: 50px;
    align-items: left;
    display: flex;
    flex-direction: column;
    color: white;
}

.left{
  margin-right: 20px;
}

.placeholder_text a{
    border: 2px solid #90caf9;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    transition: 1s;
}

.placeholder_text a:hover{
    box-shadow: 0px 0px 10px 3px #90caf9;
}


.topnav {
  width: 90%;
  position: fixed;
  padding-left: 5%;
  padding-right: 5%;
  left: 0;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: white;
  z-index: 100;
}

.topnav .nav_link {
  float: left;
  display: flex;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #666666;
}

.topnav .icon {
  display: none;
  color: #666666;
  text-decoration: none;
}


@media screen and (max-width: 800px) {
  .topnav .nav_link {display: none;}
  .topnav .icon {
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 33px;
    padding-bottom: 25px;
    padding-right: 5%;
    padding-left: 5%;
    float: right;
    display: block;
  }
  .topnav.responsive {
    flex-direction: column;
  }
  .topnav.responsive .nav_link {
    float: none;
    display: block;
    text-align: left;
    padding-right: 0px;
    text-align: right;
  }
  .placeholder{
    margin-bottom: 15px;
  }
  .placeholder_text{
    margin-left: 6%;
    margin-right: 6%;
  }
  .section_group{
    flex-wrap: wrap;
  }
  .section{
    width: 100%;
  }
  .main_content{
    padding-left: 6%;
    padding-right: 6%;
  }
}